#profile-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
} 

.welcome-box {
   display: flex;
   justify-content: center;
   margin: 0.4rem;
   padding: 0.5rem;
   border-radius: 3px;
}

.welcome-box span {
    color: #333;
    font-size: 0.9rem;
}

/* Handle feedback form styling */
.feedback-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.feedback-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    height: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}   
  
.feedback-form button {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}
  
.feedback-form button:hover {
    background-color: #155fa0;
}