.header-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1500;
}

#simple-popover, #menu-appbar {
    z-index: 2000;
}

#header-title {
    flex-grow: 1;
}

.notifications-box {
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
    padding: 0.4rem;
}

#notification-item, #notification-item-critical {
    font-size: 0.75rem;
    padding: 0.5rem;
    background-color: #f5f5f5;
}

#notification-item-critical {
    color: rgb(174, 39, 39);
}

#profile-photo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
} 

.menu-item-icon {
    margin-right: 0.5rem;
}

.welcome-box {
   display: flex;
   margin: 0.4rem;
   padding: 0.5rem;
}

.welcome-box span {
    font-size: 0.9rem;
}

/* Handle feedback form styling */
.feedback-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
  
.feedback-form {
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1.5rem;
    gap: 1rem;
    background-color: #fff;
    border-radius: 10px;
}   

#feedback-text-area {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
}

#feedback-max-chars {
    font-size: 0.8rem;
    font-style: italic;
    color: red;
}

#feedback-buttons {
    display: flex;
    gap: 1rem;
}

.feedback-form button {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
}
  
.feedback-form button:hover {
    background-color: #155fa0;
}

@media (min-width: 481px) and (max-width: 768px) {
    .feedback-form {
        width: 75%;
    }    
}

@media (min-width: 769px) and (max-width: 1024px) {
    #notification-item, #notification-item-critical {
        font-size: 0.9rem;
    }

    .feedback-form {
        width: 85%;
    }
}

@media (min-width: 1025px) {  
    #notification-item, #notification-item-critical {
        font-size: 0.9rem;
    }

    .feedback-form {
        width: 50%;
    }   
}