#registration-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
}

#illustration-side {
    display: none;
}

#registration-form {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 1rem;
    padding: 2rem;
    gap: 1rem;
}

input.MuiInputBase-input {
    background: white;
    border-radius: 0.5rem;
}

.input-field label.MuiInputLabel-root {
    transition: all 0.3s ease;
}

.input-field label.MuiInputLabel-root.MuiInputLabel-shrink {
    font-size: 1rem;
}

.input-field input {
    padding: 1rem;
}

.input-field i {
    color: #ee0d0d;
    font-size: 0.75rem;
}

#registration-button {
    align-self: center;
    border: none;
    color: #fff;
    background-color: #338eef;
    transition: background-color 0.3s ease;
}

#registration-button:hover {
    background-color: #014996;
}

@media (min-width: 481px) and (max-width: 768px) {   
    #registration-subtitle {
        font-size: 1.2rem;
    } 

    .input-field label.MuiInputLabel-root, .input-field input, #registration-button {
        font-size: 1.25rem;
    }

    .input-field i {
        font-size: 1rem;
    }      
}

@media (min-width: 769px) and (max-width: 1024px) { 
    #registration-subtitle {
        font-size: 1.3rem;
    }
    
    .input-field label.MuiInputLabel-root, .input-field input, #registration-button {
        font-size: 1.4rem;
    }

    .input-field i {
        font-size: 1.2rem;
    }
}

@media (min-width: 1025px) {    
    #registration-subtitle {
        font-size: 1.1rem;
    }

    #registration-container {
        align-items: stretch;
        background-image: none;
        padding: 0;
    }

    #illustration-side {
        flex: 1.5;
        display: block;
        background-image: url('../../assets/background-image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #registration-form {
        flex: 1;
        padding: 3rem;
        border-radius: 0;
    }    

    .input-field i {
        font-size: 0.85rem;
    }
}