/* Styling for the main containers */
#profile-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 1.5rem;
    gap: 1rem;
}

#forms-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#profile-fields, #password-fields {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

/* Styling for the profile image and first name/last name container */
#photo-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* Styling for the profile image and "Change photo" text on hover */
#profile-image-wrapper {
    position: relative;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

#profile-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #74C0FC;
    transition: filter 0.3s ease;
}

#profile-image-wrapper:hover img {
    filter: blur(2px);
}

#change-photo-text {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);    
    padding: 0.5rem;
    white-space: nowrap;
    transition: opacity 0.3s ease;
}

#profile-image-wrapper:hover #change-photo-text {
    opacity: 1;
}

/* Styling for the text fields width */
#profile-fields .MuiTextField-root, #password-fields .MuiTextField-root {
    width: 100%;
}

/* Styling for the form submit buttons */
#update-user-button, #update-password-button {
    align-self: center;
    color: #fff;
    background-color: #007BFF;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

#update-user-button:hover, #update-password-button:hover {
    background-color: #0056b3;
}

@media (min-width: 481px) and (max-width: 768px) {
    #photo-name-container { 
        flex-direction: row;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #photo-name-container { 
        flex-direction: row;
    }
}

@media (min-width: 1025px) { 
    #photo-name-container { 
        flex-direction: row;
    }
}

#spinning-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}