.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#profile-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

#profile-fields .MuiTextField-root {
    flex: 1 1 calc(50% - 10px);
}

#photo-name-container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
}

#image-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#image-text-container img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #74C0FC;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#image-text-container img:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

#image-text-container .change-photo-text {
    margin-top: 10px;
    font-size: 16px;
    color: grey;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

#image-text-container img:hover + .change-photo-text {
    opacity: 1;
}

#photo-name-container .MuiTextField-root {
    flex: 1;
}

#update-profile-button {
    color: #fff;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #007BFF;
    transition: background-color 0.3s ease;
}

#update-profile-button:hover {
    background-color: #0056b3;
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
    #profile-fields {
        flex-direction: column;
    }
    
    #profile-fields .MuiTextField-root {
        width: 100%;
    }

    #photo-name-container {
        flex-direction: column;
    }

    #photo-name-container .MuiTextField-root {
        width: 100%;
    }

    #update-profile-button {
        font-size: 16px;
        padding: 12px 20px;
    }
}