/* Stlying for the main containers */
#all-transactions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    gap: 0.5rem;
}

#sticky-table-container {/* This is used in HomePrivate.tsx as well */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
}

#sticky-table {/* This is used in HomePrivate.tsx as well */
    table-layout: fixed;
    overflow-x: auto;
    background-color: white;
}

/* Styling for the search filters */
#search-filters {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.75rem;
}

#search-text-field {
    padding: 0.5rem;
}

#clear-all-button {
    font-size: 0.9rem;
}

/* Styling for the table cells */
.table-cell {/* This is used in HomePrivate.tsx as well */
    border: 1px solid rgb(206, 211, 217);
    cursor: pointer;
}

.custom-tooltip-text {/* This is used in HomePrivate.tsx as well */
    padding: 0.15rem 0.3rem !important;
    margin: 0.5rem !important;
    font-size: 0.5rem !important;
}

#column-title {/* This is used in HomePrivate.tsx as well */
    font-weight: bold;
}

#column-title, .cell-value, #no-receipt-text {/* This is used in HomePrivate.tsx as well */
    font-size: 0.6rem;
}

.cell-with-icon, #receipt-icon {/* This is used in HomePrivate.tsx as well */
    width: 1.4rem;
    height: 1.4rem;
}

#receipt-icon {/* This is used in HomePrivate.tsx as well */
    color: rgb(73, 134, 204);
    transition: transform 0.2s ease-in-out;
}

#receipt-icon:hover {/* This is used in HomePrivate.tsx as well */
    transform: scale(1.25);
}

/* Styling for the edit/delete buttons */
.sticky-table-popover-box {    
    display: flex;
    padding: 0.15rem;
    gap: 1rem;
}

.sticky-table-popover-button {
    font-size: 0.75rem;
    color: black;
}

.blurred-row, .blurred-column-cell {
    filter: blur(5px);
    background-color: #eeebeb;
}

/* Styling for the table footer elements - pagination, total sum text and add button */
p.pagination-select-label, p.pagination-displayed-rows {
    color: rgb(170, 13, 13);
    margin-bottom: 0;
}

div.MuiTablePagination-select {
    display: flex;
    align-items: center;
}

p.pagination-select-label, p.pagination-displayed-rows, div.MuiTablePagination-select {
    font-size: 0.9rem;
}

div.MuiTablePagination-toolbar {
    min-height: 0;
}

#total-sum-text {
    font-size: 0.9rem;
}

#add-transaction-button {
    margin: 0.5rem 0 1rem 0;
}

/* Styling for the receipt modal */
#receipt-content {/* This is used in HomePrivate.tsx as well */
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
  
#receipt-content img {/* This is used in HomePrivate.tsx as well */
    max-width: 75%;
    max-height: 75%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

#receipt-content-hide {/* This is used in HomePrivate.tsx as well */
    opacity: 0;
    position: fixed;
}

@media (min-width: 481px) and (max-width: 768px) {       
    .custom-tooltip-text {/* This is used in HomePrivate.tsx as well */
        font-size: 0.6rem !important;
    }

    #column-title, .cell-value, #no-receipt-text {/* This is used in HomePrivate.tsx as well */
        font-size: 0.8rem;
    }

    .cell-with-icon, #receipt-icon {/* This is used in HomePrivate.tsx as well */
        width: 1.85rem;
        height: 1.85rem;
    }

    .sticky-table-popover-button {
        font-size: 0.8rem;
    }

    p.pagination-select-label, p.pagination-displayed-rows, div.MuiTablePagination-select {
        font-size: 1rem;
    }

    #total-sum-text {
        font-size: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {    
    .custom-tooltip-text {/* This is used in HomePrivate.tsx as well */
        font-size: 0.8rem !important;
    }

    #column-title, .cell-value, #no-receipt-text {/* This is used in HomePrivate.tsx as well */
        font-size: 1rem;
    }

    .cell-with-icon, #receipt-icon {/* This is used in HomePrivate.tsx as well */
        width: 2.3rem;
        height: 2.3rem;
    }

    .sticky-table-popover-button {
        font-size: 0.9rem;
    }

    p.pagination-select-label, p.pagination-displayed-rows, div.MuiTablePagination-select {
        font-size: 1.2rem;
    }

    #total-sum-text {
        font-size: 1.2rem;
    } 
}

@media (min-width: 1025px) {
    #search-filters {
        flex-direction: row;
    }

    .custom-tooltip-text {/* This is used in HomePrivate.tsx as well */
        font-size: 0.9rem !important;
    }

    #column-title, .cell-value, #no-receipt-text {/* This is used in HomePrivate.tsx as well */
        font-size: 1rem;
    }

    .cell-with-icon, #receipt-icon {/* This is used in HomePrivate.tsx as well */
        width: 2.45rem;
        height: 2.45rem;
    }

    .sticky-table-popover-button {
        font-size: 0.85rem;
    }

    p.pagination-select-label, p.pagination-displayed-rows, div.MuiTablePagination-select {
        font-size: 1.2rem;
    }

    #total-sum-text {
        font-size: 1.2rem;
    }
}