.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    max-width: 100%;
}

.first-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 4px;
}

#avatar-photo {
    width: 25%;
    height: auto;
    border-radius: 10%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#about-me-text {
    font-size: 0.8rem;
    text-align: justify;
}

.second-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-scroll {
    overflow: hidden;
}

.scroll {
    display: flex;
    animation: loop 10s linear infinite;
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.tech-icon {
    width: 1rem;
    height: 1rem;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.9rem;
    gap: 3px;
}

.item:hover {
    cursor: pointer;
    scale: 1.2;
}

.item p {
    font-size: 0.5rem;
}

@media (min-width: 481px) and (max-width: 768px) {
    #about-me-text {
        font-size: 1.2rem;
    }

    .first-container {
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .tech-icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .item p {
        font-size: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {   
    #about-me-text {
        font-size: 1.5rem;
    }

    .first-container {
        gap: 1rem;
        margin-bottom: 1rem;
    }
    
    .tech-icon {
        width: 2.5rem;
        height: 2.5rem;
    }

    .item p {
        font-size: 1.5rem;
    }
}

/* This targets Nest Hub 1024 x 600 specifically */
@media (aspect-ratio: 1024/600) {
    .first-container {
        flex-direction: row;
    }
}

/* Known Issue: Layout might not render perfectly on Google Nest Hub (1280x800). 
   Device-specific queries were tested but did not work due to resolution/DPR mismatch. */

@media (min-width: 1025px) {
    #avatar-photo {
        width: 15%;
    }

    #about-me-text {
        font-size: 1.4rem;
        text-align: justify;
        margin: 3rem;
    }

    .tech-icon {
        width: 2rem;
        height: 2rem;
    }

    .item p {
        font-size: 1rem;
    }
}