#forgot-password-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/forgot-pass-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 1rem;
}

#forgot-password-image {
    display: none;
}

#forgot-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: 1rem;
    gap: 1rem;
}

.forgot-pass-input-field label.MuiInputLabel-root {
    transition: all 0.3s ease;
}

.forgot-pass-input-field label.MuiInputLabel-root.MuiInputLabel-shrink {
    font-size: 1rem;
}

.forgot-pass-input-field input {
    padding: 1rem;
}

.forgot-pass-input-field p {
    color: #ee0d0d;
}

#forgot-password-button {
    border: none;
    color: white;
    background-color: #2885e9;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

#forgot-password-button:hover {
    background-color: #013974;
    scale: 1.1;
}

@media (min-width: 481px) and (max-width: 768px) {
    .forgot-pass-input-field label.MuiInputLabel-root, .forgot-pass-input-field input, #forgot-password-button {
        font-size: 1.25rem;
    }

    .forgot-pass-input-field p {
        font-size: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {  
    .forgot-pass-input-field label.MuiInputLabel-root, .forgot-pass-input-field input, #forgot-password-button {
        font-size: 1.4rem;
    }

    .forgot-pass-input-field p {
        font-size: 1.2rem;
    } 
}

@media (min-width: 1025px) { 
    #forgot-password-container {
        align-items: stretch;
        background-image: none;
        padding: 0;
    }

    #forgot-password-image {
        order: 1;
        flex: 1.5;
        display: block;
        background-image: url("../../assets/forgot-pass-background.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #forgot-password-form {
        order: 2;
        flex: 1;
        border-radius: 0;
    }

    .forgot-pass-input-field label.MuiInputLabel-root, .forgot-pass-input-field input, #forgot-password-button {
        font-size: 1.2rem;
    }

    .forgot-pass-input-field p {
        font-size: 1rem;
    } 
}