/* Styling for the main containers */
#categories-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#page-title {
    font-size: 1.4rem;
    margin-top: 1rem;
}

.categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    padding: 1.5rem !important;
}

.category-item {
    max-width: calc(80% - 1rem);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem !important;
    border: 1px solid #bab9b9;
    border-radius: 5px;
    cursor: pointer;
}

.category-item img {
    width: 3rem;
    height: 3rem;
}

.category-title {
    font-size: 1rem;
}

/* Styling for the add/edit category form */
#category-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 0.75rem;
}

#top-row, #bottom-row {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#category-form img {
    width: 6rem; 
}

#bottom-row img {
    width: 2.3rem;
}

.icon-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75rem;
    border: 2px dashed #ccc;
    border-radius: 1rem;
    cursor: pointer;
}

.icon-placeholder:hover {
    background-color: #f0f0f0;
}

.selected-icon {  
    cursor: pointer;
    transition: transform 0.2s ease;
}

.selected-icon:hover {
    transform: scale(1.1);
}

#add-category-button {
    margin-bottom: 1rem;
}

/* Styling for the icon search functionality */
.icon-search {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 0.75rem;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.75rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon-grid img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.icon-grid img:hover {
    transform: scale(1.15);
}

@media (min-width: 481px) and (max-width: 768px) {
    #page-title {
        font-size: 1.6rem;
    }

    .categories-list {
        gap: 1.5rem;
    }

    .category-item {
        max-width: calc(50% - 5rem);
    }

    .category-item img {
        width: 4rem;
        height: 4rem;
    }

    .category-title {
        font-size: 1.2rem;
    }

    #category-form {
        padding: 1.25rem;
    }

    #form-title {
        font-size: 1.2rem;
    }

    #category-name {
        font-size: 1rem;
    }

    #bottom-row img {
        width: 2.5rem;
    }

    .icon-search {
        width: 75%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {    
    #page-title {
        font-size: 1.8rem;
    }

    .categories-list {
        gap: 2rem;
    }

    .category-item {
        max-width: calc(33% - 1rem);
    }

    .category-item img {
        width: 5rem;
        height: 5rem;
    }

    .category-title {
        font-size: 1.4rem;
    }

    #category-form {
        padding: 1.5rem;
    }

    #form-title {
        font-size: 1.4rem;
    }   
    
    #category-name {
        font-size: 1.2rem;
    }

    #bottom-row img {
        width: 2.8rem;
    }  
}

@media (min-width: 1025px) { 
    #page-title {
        font-size: 2rem;
    }

    .categories-list {
        gap: 2.5rem;
    }

    .category-item {
        max-width: calc(25% - 1rem);
    }

    .category-item img {
        width: 6rem;
        height: 6rem;
    }

    .category-title {
        font-size: 1.6rem;
    }

    #category-form {
        padding: 1.75rem;
    }

    #form-title {
        font-size: 1.6rem;
    }

    #category-name {
        font-size: 1.4rem;
    }

    #bottom-row img {
        width: 3rem;
    }

    .icon-grid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, auto);
    }

    .icon-search {
        width: 45%;
    }
}