.forgot-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

@media (max-width: 600px) {
    .forgot-password-form {
        padding: 12px;
    }
}