.loginContainer {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
    background-image: url('../../assets/expense-tracker-app-icon.png');
    background-size: cover;
}
  
.login-form {
    width: 100%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.85); 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
  
.input__field {
    width: 100%;
}
  
.error-class {
    color: #fb0800;
    margin-bottom: 20px;
}
  
.btn {
    width: 100%;
    color: white;
    background-color: #007bff;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
  
.btn:hover {
    background-color: #0056b3;
}
  
#span-sign-up {
    color: #007bff;
    cursor: pointer;
}
  
#span-sign-up:hover {
    text-decoration: underline;
}
  
@media (max-width: 768px) {
    .login-form {
      padding: 30px;
      width: 90%;
    }
}

.forgot-password {
    color: #1976d2;
}
  
.forgot-password:hover {
    text-decoration: underline;
    color: #1565c0;
}