#login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/login-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
}

#login-background-image {
    display: none;
}

#login-form {
    display: flex;
    flex-direction: column;   
    justify-content: center; 
    background: rgba(255, 255, 255, 0.85);
    border-radius: 1rem;
    padding: 2rem;
    gap: 1rem;
}

#greeting-text {
    font-weight: bold;
}

.login-input-field label.MuiInputLabel-root {
    transition: all 0.3s ease;
}

.login-input-field label.MuiInputLabel-root.MuiInputLabel-shrink {
    font-size: 1rem;
}

.login-input-field input {
    padding: 1rem;
}

#login-button {
    align-self: center;
    border: none;
    color: white;
    background-color: #1881f1;
    transition: background-color 0.3s;
}
  
#login-button:hover {
    background-color: #0056b3;
}
  
#span-sign-up, #forgot-password {
    color: #007bff;
    cursor: pointer;
}
  
#span-sign-up:hover, #forgot-password:hover {
    text-decoration: underline;
}

@media (min-width: 481px) and (max-width: 768px) {            
    #greeting-text {
        font-size: 1.25rem;
    } 

    .login-input-field label.MuiInputLabel-root, .login-input-field input, #login-button {
        font-size: 1.25rem;
    }

    #login-form {
        padding: 2.5rem;
        gap: 1.5rem;
    }
    
    #span-sign-up, #forgot-password {
        font-size: 1.2rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {          
    #greeting-text {
        font-size: 1.5rem;
    }       

    .login-input-field label.MuiInputLabel-root, .login-input-field input, #login-button {
        font-size: 1.5rem;
    }    

    #login-form {
        padding: 3rem;
        gap: 2rem;
    }

    #or-text {
        font-size: 1.25rem;
    }

    #span-sign-up, #forgot-password {
        font-size: 1.4rem;
    }
}

@media (min-width: 1025px) {
    #greeting-text {
        font-size: 1.75rem;
    }
    
    #login-container {
        align-items: stretch;
        background-image: none;
        padding: 0;
    }

    #login-background-image {
        order: 2;
        flex: 2;
        display: block;
        background-image: url('../../assets/login-background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;        
    }
    
    #login-form {
        order: 1;
        flex: 0.75;
        border-radius: 0;
        padding: 3rem;
        gap: 2rem;
    }
    
    #span-sign-up, #forgot-password {
        font-size: 1.2rem;
    } 
}
