.reset-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    padding: 20px;
}

.reset-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.reset-button {
    color: white;
    background-color:  #0074cc;
    padding: 10px;
    margin-top: 16px;
}

.reset-button:hover {
    background-color: #1565c0;
}

.invalid-token {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 1rem;
    color: red;
    background-color: white; 
    border-radius: 8px;
}
  
@media (max-width: 600px) {
    .invalid-token {
      padding: 0.5rem;
    }
}