#reset-pass-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/reset-pass-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
}

#reset-pass-image {
    display: none;
}

#reset-pass-form { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 1rem;
    padding: 1rem;
    gap: 1rem;
}

.reset-pass-input-field label.MuiInputLabel-root {
    transition: all 0.3s ease;
}

.reset-pass-input-field label.MuiInputLabel-root.MuiInputLabel-shrink {
    font-size: 1rem;
}

.reset-pass-input-field input {
    padding: 1rem;
}

.reset-pass-input-field p {
    color: #ee0d0d;
}

#reset-pass-button {
    align-self: center;
    border: none;
    color: white;
    background-color: #3990ec;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

#reset-pass-button:hover {
    scale: 1.1;
    background-color: #03366d;
}

#token-error-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ee0d0d;
    color: white;
    border-radius: 1rem;    
    padding: 1rem;
    gap: 1rem;
}

@media (min-width: 481px) and (max-width: 768px) {
    #reset-pass-container {
        padding: 2rem;
    }

    #reset-pass-form {
        padding: 2rem;
    }

    .reset-pass-input-field label.MuiInputLabel-root, .reset-pass-input-field input, #reset-pass-button {
        font-size: 1.25rem;
    }

    .reset-pass-input-field p {
        font-size: 1rem;
    }   
}

@media (min-width: 769px) and (max-width: 1024px) {  
    #reset-pass-container {
        padding: 3rem;
    }

    #reset-pass-form {
        padding: 3rem;
    }

    .reset-pass-input-field label.MuiInputLabel-root, .reset-pass-input-field input, #reset-pass-button {
        font-size: 1.4rem;
    }

    .reset-pass-input-field p {
        font-size: 1.2rem;
    }
}

@media (min-width: 1025px) { 
    #reset-pass-container {
        align-items: stretch;
        background-image: none;
        padding: 0;
    }

    #reset-pass-image {
        order: 1;
        flex: 1;
        display: block;
        background-image: url('../../assets/reset-pass-background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #reset-pass-form {
        order: 2;
        flex: 0.5;
        padding: 3rem;
        border-radius: 0;
    }

    #token-error-box {
        flex: 0.5;
        border-radius: 0;
    }

    .reset-pass-input-field label.MuiInputLabel-root, .reset-pass-input-field input, #reset-pass-button {
        font-size: 1.2rem;
    }

    .reset-pass-input-field p {
        font-size: 0.85rem;
    }    
}