.footer-container-left {
    display: flex;
    flex-grow: 1;
}

.footer-container-left button {
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding: 0.3rem 0.4rem;
}

.footer-container-left button:hover {
    scale: 1.2;
}

.footer-container-right {
    display: flex;
    align-items: center;
}

.footer-container-right a {
    color: #fff;
    transition: background-color 0.3s;
}

.footer-container-right a:hover {
    background-color: #5ba7ea;
    scale: 1.2;
}

#copyright-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.2rem;
    gap: 0.2rem;
}

#year-span {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

#year-span, #author-name {
    font-size: 0.6rem;
}

#github-icon, #linkedin-icon, #email-contact-icon {
    font-size: 1.5rem;
}

@media (min-width: 481px) and (max-width: 768px) {
    .footer-container-left button {
        font-size: 1.5rem;
    }

    #year-span, #author-name  {
        font-size: 1rem;
    }

    #github-icon, #linkedin-icon, #email-contact-icon {
        font-size: 1.8rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .footer-container-left button {
        font-size: 1.75rem;
    }

    #year-span, #author-name {
        font-size: 1.1rem;
    }

    #github-icon, #linkedin-icon, #email-contact-icon {
        font-size: 2rem;
    }
}

@media (min-width: 1025px) {
    .footer-container-left {
        gap: 2rem;
    }

    .footer-container-left button {
        font-size: 2rem;
    }

    #year-span, #author-name {
        font-size: 1.2rem;
    }      

    #github-icon, #linkedin-icon, #email-contact-icon {
        font-size: 2.5rem;
    }
}
