.footer-container-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-container-right a {
    color: #fff;
    transition: background-color 0.3s;
}

.footer-container-right a:hover {
    background-color: #5ba7ea;
    scale: 1.2;
}

.footer-container-right svg {
    font-size: 1rem;
}

#personal-name {
    font-size: 0.6rem;
}

.footer-container-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;
}

.footer-container-left button {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.footer-container-left button:hover {
    scale: 1.2;
}