/* Main container for the home page */
#demo-image-full-screen {
    width: 100%;
}

#home-public-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}

/* Styling for the Hero section */
#hero-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 40%, transparent 80%);
    border-radius: 1rem;
    padding: 1rem;
}

#logo-slogan-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#app-logo {
    width: 3rem;
    height: 3rem;
}

#slogan {
    font-size: 1rem;
    font-weight: bold;
}

#hero-buttons-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

#section-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.5rem;
}

/* Styling for the features section */
#features-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#features-container img {
    width: 4rem;
    height: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#feature-title {
    font-size: 1rem;
    font-weight: bold;
}

#feature-description {
    font-size: 0.75rem;
    margin-top: 0.5rem;
}

/* Styling for the testimonials section */
.swiper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feedback-image {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
}
  
.feedback-content {
    display: flex;
    flex-direction: column;
}

#feedback-text {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
  
.rating {
    align-self: center;
}
  
blockquote {
    font-size: 0.85rem;
    font-style: italic;
    color: #555;
    margin: 1rem;
}
  
cite {
    font-weight: bold;
}

.swiper-pagination {
    position: relative;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    opacity: 0.7;
    background-color: grey;
    transition: opacity 0.3s ease;
}

.swiper-pagination-bullet:hover {
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: blue;
    opacity: 1;
}

/* Styling for the demo section */  
.demo-view-image {
    width: 100%;
    cursor: pointer;
}

#demo-view-text {
    font-size: 1rem;
}

/* Styling for the partners section */
#partners-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#partners-wrapper {
    display: flex;
    gap: 0.5rem;
    animation: scroll 8s linear infinite;
}

@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.partner-logo-wrapper {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ccc;
    background-color: white;
}

.partner-logo-image {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
}