.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 0.75rem;
}

#faq-accordion {   
  margin: 1rem 0.5rem;
}

#header-question {
  text-align: left;
}

#faq-title {
  font-size: 1rem;
}

#faq-description {
  font-size: 0.9rem;
  text-align: justify;
}

@media (min-width: 481px) and (max-width: 768px) {
  .faq-container {
    padding: 1rem;
  }

  #faq-title {
    font-size: 1.2rem;
  }

  #faq-description {
    font-size: 1.1rem;
  } 
}

@media (min-width: 769px) and (max-width: 1024px) {
  .faq-container {
    padding: 1.5rem;
  }

  #faq-title {
    font-size: 1.5rem;
  }

  #faq-description {
    font-size: 1.4rem;
  }
}

@media (min-width: 1025px) { 
  .faq-container {
    padding: 2rem;
  }

  #faq-title {
    font-size: 1.8rem;
  }

  #faq-description {
    font-size: 1.6rem;
  }
}