#faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../assets/faq-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0.75rem;
}

#faq-image {
  display: none;
}

#accordion-container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 1rem;
  padding: 1rem;
}

#accordion-item {   
  opacity: 0.9;
  margin: 0.5rem 0.75rem;
}

#header-question {
  text-align: left;
}

#accordion-title {
  font-weight: bold;
}

#accordion-description {
  font-size: 0.9rem;
  text-align: justify;
}

@media (min-width: 481px) and (max-width: 768px) {
  #faq-container {
    padding: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #faq-container {
    padding: 1.5rem;
  }

  #accordion-title {
    font-size: 1.25rem;
  }

  #accordion-description {
    font-size: 1.15rem;
  }
}

@media (min-width: 1025px) {
  #faq-container {
    flex-direction: row;
    background-image: none;
    align-items: stretch;
    padding: 0;
  }

  #accordion-container {
    order: 1;
    flex: 0.5;
    border-radius: 0;
  }

  #faq-image {
    order: 2;
    flex: 0.75;
    display: block;
    background-image: url('../../assets/faq-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #accordion-description {
    font-size: 1rem;
  }
}