.expense-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 8px  #0074cc; 
}

#add-expense {
    width: 30%;
    align-self: center;
    border: none;
    border-radius: 5px; 
    background: #0074cc;
    color: #fff;
    cursor: pointer;
}
    
#add-expense:hover {
    background: #ff9800;
}

.date-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

.spinnerContainer{
    height: 100vh;
}
