#limit-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#limit-dialog-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#limit-dialog-description {
    padding: 1rem;
}

#category-limit-input {
    padding: 1rem;
}

#add-category-limit-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-category-limit-button:hover {
    background-color: #0e6913;
}