.message-box {
    width: 50%;
    border: 2px dashed #b0b9c3;
    background-color: #f3f5f7;
    color: #7f7f80;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px; 
    font-size: 1.2rem; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.message-box h2 {
    margin-bottom: 10px;
    font-size: 1.3rem; 
}
  
.message-box p {
    margin: 0;
}