.message-box {
    width: 50%;
    border: 2px dashed #b0b9c3;
    border-radius: 8px; 
    background-color: white;
    color: #7f7f80;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-private-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.home-transactions-table {
    flex: 1;
}