#settings-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    padding: 1.5rem;
}

#settings-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    gap: 1rem;
}

#settings-header {
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    gap: 1rem;
}

#notification-label {
    font-size: 0.9rem;
}

#update-settings-button {
    align-self: center;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #007BFF;
}

#update-settings-button:hover {
    background-color: #0056b3;
}

@media (min-width: 481px) and (max-width: 768px) {
    #settings-header {
        font-size: 1.05rem;
    }

    #settings-form {
        padding: 2rem;
        gap: 1.5rem;
    }

    .form-group {
        padding: 2rem;
        gap: 2rem;
    }

    #notification-label {
        font-size: 1.05rem;
    }

    #update-settings-button {
        font-size: 1.05rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #settings-header {
        font-size: 1.3rem;
    }

    #settings-form {
        padding: 2rem;
        gap: 1.5rem;
    }

    .form-group {
        padding: 2rem;
        gap: 2rem;
    }

    #notification-label {
        font-size: 1.2rem;
    }

    #update-settings-button {
        font-size: 1.15rem;
    }
}

@media (min-width: 1025px) { 
    #settings-header {
        font-size: 1.1rem;
    }

    #settings-form {
        padding: 2rem;
        gap: 1.5rem;
    }

    .form-group {
        padding: 2rem;
        gap: 2rem;
    }

    #notification-label {
        font-size: 1.1rem;
    }

    #update-settings-button {
        font-size: 1.1rem;
    }
}